<launch>
  <node name="lo2" pkg="localization_309605004" type="lo2" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find localization_309605004)/rviz/demo2.rviz" /> 
  <node pkg="rosbag" type="play" name="player" output="screen" args="-r 0.04 $(find localization_309605004)/bag/sdc_localization_2_lite.bag"/>
</launch>
